@page "{id}"
@model TopLearn.Web.Pages.Admin.Roles.RecoveryRoleModel
@{
    ViewData["Title"] = "بازگردانی نقش";
}
<div class="clearfix">
    <br/>
    <br/>
</div>

<div class="container alert alert-info text-center col-md-12 col-sm-12">
  
    <form method="post">
        <input type="hidden" asp-for="Role.RoleId"/>
          
        <p>
            آیا از بازگردانی نقش "@Model.Role.RoleTitle" مطمئن هستید ؟
        </p>
    
        <p>
            <input type="submit" class="btn btn-outline btn-default" value="بازیابی نقش"/>
            <a class="btn btn-outline btn-primary" asp-page="Index">انصراف</a>
        </p>
    </form>

</div>
