@page "{id?}"
@model TopLearn.Web.Pages.Admin.CourseGroups.CreateModel
@{
    ViewData["Title"] = "افزودن گروه";
}


<div class="clearfix">
    <br />
</div>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <input type="hidden" asp-for="CourseGroup.ParentId" />
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ( افزودن گروه )
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>گروه</label>
                        <input class="form-control" asp-for="CourseGroup.GroupTitle" placeholder="نام گروه را وارد کنید">
                    </div>
                    <button type="submit" class="btn-outline btn-primary btn btn-block">ذخیره اطلاعات</button>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
</form>