@model TopLearn.DataLayer.Entities.User.User
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ایمیل بازیابی رمز عبور</title>
</head>
<body style="font-family: fantasy, 'Segoe UI', Tahoma, sans-serif;" dir="rtl">
<div style="text-align:center; height: 180px; width: 50%; background: linear-gradient(45deg,#05abe0 0%,#8200f4 100%);  margin: auto; border-radius: 10px; box-shadow: 0 5px 10px rgba(0,0,0,0.25);">
    <div>
        <h1 style="text-align: center; color: white;"> "@Model.UserName" عزیز</H1>
        <br/>
        <h2 style="margin:auto; color: white;text-align: center;">برای بازیابی رمز عبور حساب خود روی دکمه زیر کلیک کنید</h2>
        <br>
        <br>
        <div style="background:aliceblue; border-radius:12px; height:25px; width:120px; text-align: center; margin: auto; box-shadow: 0 5px 10px rgba(0,0,0,0.25);">
            <a style="text-decoration: none" href="https://localhost:5001/Account/ResetPassword/@Model.ActiveCode"> بازیابی کلمه عبور </a>
        </div>
    </div>
</div>
</body>
</html>