@page "{id}"
@model TopLearn.Web.Pages.Admin.Discount.DeleteModel
@{
    ViewData["Title"] = "حذف کردن کد تخفیف";
}
<div class="clearfix">
    <br />
    <br />
</div>

<div class="container alert alert-info text-center col-md-12 col-sm-12">

    <form method="post">
        <input type="hidden" asp-for="Discount.DiscountId" />

        <p>
            آیا از حذف کد تخفیف "@Model.Discount.DiscountCode" مطمئن هستید ؟
        </p>

        <p>
            <input type="submit" class="btn btn-outline btn-danger" value="حذف کد تخفیف" />
            <a class="btn btn-outline btn-default" asp-page="Index">انصراف</a>
        </p>
    </form>

</div>
