<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath=".\TopLearn.Web.exe" arguments=".\TopLearn.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess"/>

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
<!--ProjectGuid: a31cabca-3c1d-40f4-8a48-6610802ee5ca-->