@using TopLearn.Core.Convertors;
@using TopLearn.Core.DTOs;
@model TopLearn.Core.DTOs.ChargeWalletViewModel
@{
    ViewData["Title"] = "کیف پول شما";
    var WalletHistoryBalance = ViewBag.WalletBalanceHistory as List<WalletViewModel>;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">کیف پول شما</li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_UserPanelSideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> کیف پول کاربر </h1>
                        </header>
                        <div class="inner form-layer">

                            <div class="alert alert-warning">
                                <p>مبلغ مورد نظر پس از شارژ کیف پول قابل استرداد نخواهد بود!</p>
                            </div>

                            <form asp-action="Index" method="post">
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-money"></i></span>
                                            <input asp-for="Amount" class="form-control" placeholder="مبلغ (به تومان)" aria-describedby="username">
                                        </div>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <input type="submit" class="btn btn-success" value=" شارژ کیف پول " />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="inner form-layer">
                            <hr />
                            <header>
                                <h1> تاریخچه تراکنش ها </h1>
                            </header>
                            <br />
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>مبلغ</th>
                                    <th>تاریخ</th>
                                    <th>نوع تراکنش</th>
                                    <th>شرح</th>
                                </tr>

                                @foreach (var item in WalletHistoryBalance)
                                {
                                    <tr>
                                        <td>@item.Amount.ToString("#,0") تومان</td>
                                        <td>@item.CreateDate.ToShamsi()</td>
                                        <td>
                                            @if (item.Type == 1)
                                            {
                                                <p class="text-success">واریز</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger">
                                                    برداشت
                                                </p>
                                            }
                                        </td>
                                        @{
                                            string href = "<a href='/UserPanel/ShowOrder/" + item.Description.Replace("فاکتور شماره #", "") + "'>#</a>";
                                        }
                                        <td class="text-info">@Html.Raw(@item.Description.Replace("#", href))</td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

